body {
    color: #aaaaaa;
    background: #000000;
}
h1 {
    font-family: "arial";
    font-weight: 700;
    color: #dddddd;
}

p {
    color: #bbbbbb;
    font-family: "arial";
    font-weight: 700;

}
